/*Card outline*/
@font-face {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: normal;
  src:
    url('../fonts/HelveticaNeueLight.ttf') format('truetype');
}

.Card-div {
	background: #fff;
	border-radius: 10px;
	margin: 10px;
	box-shadow: 0pt 1pt 3pt 2pt rgba(0, 0, 0, 0.2);
	max-width: 300pt;
    font-family: 'HelveticaNeue';
}

.Card-line-div {
	height: 0.8pt;
	background: #eee;
	margin: 0pt 5pt 0pt 5pt;
}

.TwoColumn-div {
	height: 15pt;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: auto;
 	padding: 10pt;
}

.Cta-div {
	height: 15pt;
	display: flex;
	align-items: center;
	overflow: auto;
 	padding: 10pt;
}

.Cta-div > a {
	color: #3F5EFB;
	text-decoration: none;
}

/* Title card */

.Title-div {
	height: 30pt;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: auto;
 	padding: 10pt;
  background: #eee;
}

.poster-image {
	height: 27pt;
	width: 27pt;
	margin-top: 8pt;
	margin-left: 8pt;
	margin-bottom: 5pt;
	margin-right: 5pt;
	border-radius: 50pt;
}

.poster-image-div {
    display: inline-block;
    /* float: left; */
}

.poster-details {
    display: inline-block;
		vertical-align: top;
		margin-top: 8pt;
		font-size: 12pt;
    /* float: left; */
		width: 250pt;
}

.poster-details .posted-by {
    float: left;
}

.poster-details .title {
		color: #653184;
    float: right;
}

.poster-details .posted-timestamp {
	color: #717985;
	font-size: 8pt;
	float: bottom;
}

.link-image {
	max-width: 300pt;
}

.link-description {
	font-size: 13pt;
	margin-top: 5pt;
	margin-left: 10pt;
	margin-right: 8pt;
	line-height: 16pt;
	color: #1F3158;
}

.Title {
	font-size: 17pt;
	font-weight: 500;
	color: #333;
}

.Timestamp {
	font-size: 9pt;
	font-weight: 200;
	color: #777;
}
